#crew_style {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: rgba(85, 226, 149);
    margin-top: 20px;
    display: none;
    border-radius: 20px;
    border: 3px solid;
}

#ship_style {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
    display: none;
    border-radius: 20px;
    border: 3px solid;
}

#equipment_style {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: rgb(216, 158, 91);
    margin-top: 20px;
    display: none;
    border-radius: 20px;
    border: 3px solid;
}

#cargo_style {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: rgb(216, 158, 91);
    margin-top: 20px;
    display: none;
    border-radius: 20px;
    border: 3px solid;
}

#ammunition_style {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: rgb(216, 158, 91);
    margin-top: 20px;
    display: none;
    border-radius: 20px;
    border: 3px solid;
}

#equip_style {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: rgb(216, 158, 91);
    margin-top: 20px;
    display: none;
    border-radius: 20px;
    border: 3px solid;
}

.center {
    margin: auto;
    width: 425px;
    border: 3px solid rgb(196, 0, 0);
    padding: 10px;
}

.break {
    height: 30px;
    padding-top: 10px;
}

.break2 {
    height: 30px;
    padding-top: 20px;
    padding-bottom: 25px;
}

#user_loggedin {
    background-color: rgb(51, 255, 238);
    border-radius: 10px;
    border: 3px solid;
}

#count {
    background-color: rgb(255, 146, 96);
    border-radius: 5px;
}

#cards {
    background-color: rgb(156, 248, 153);
    border-radius: 5px;
    border: 3px solid;
}

#img_ts {
    margin-bottom: 15px;
    border-radius: 10px;
    border: 3px solid;
    padding-left: 0px;
    padding-right: 0px;
}

#login {
    background-color: #3eff4f;
    border-radius: 10px;
    margin: auto;
    align-self: center;
    margin-top: 100px;
}

#loginT {
    border-radius: 10px;
    width: fit-content;
    align-self: center;
}

body {
    background-color: #cccccc;
}

#text-underlay {
    border-radius: 5px;
    width: fit-content;
    align-self: center;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 5px;
    color: white;
}

#text-underlay-log {
    border-radius: 5px;
    border: 3px solid;
    width: fit-content;
    align-self: center;
    text-align: center;
    color: white;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 5px;
}


#underlay {
    border-radius: 5px;
    width: fit-content;
    align-self: center;
    background-color: rgb(255, 146, 96);
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 5px;
    border: 3px solid;
}

#button-pad {
    margin-top: 5px;
    margin-bottom: 15px;
}

#button-pad2 {
    margin-top: 15px;
    margin-bottom: 0px;
}

#notValid {
    color: red;
}